body {
	background-color: rgb(50, 50, 50);
	font-family: 'Candara';
	margin: 10px;
	padding: 0;
}

img.first {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid, .grid-b, .grid-c {
	height: 50%;
	display: grid;
	grid-template-columns: 1fr;
	grid_template-rows: 1fr
	padding-bottom: 20px;
	grid-column-gap: 10px;

}


.info p {
	text-align: left;
	display: inline;

}

.info ul {
	color: ivory;
}

.main {
	background-color: rgb(60, 60, 60);
}

/* Add a black background color to the top navigation */
.nav {
  position: relative;

}

.nav #myLinks {
	display: none;
}

/* Style the links inside the navigation bar */
.nav a, .navMain a {
/*float: left */
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  width: 10.5%;
  margin-left: auto;
  margin-right: auto;

}

/* Style the menu */
.nav a.icon {
  background: rgb(50, 50, 50);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav a:hover {
  background-color: rgb(50, 50, 50);
  color: #f2f2f2;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

#botnav a {
  width: 23%;
  display: inline;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

h1, h2 {
 color: ivory;
 text-align: center;
}

h1 {
	font-size: 2rem;
}


h3, p {
	color: ivory;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.foot {
	text-align: center;
}

.header {
	overflow: visible;
	background-color: rgb(50, 50, 50);
}

.event-1-image {
	grid-column-start: 2;
	grid-row: 1;
}

.event-1-text {
	grid-column-start: 2;
	grid-row: 2;
}

.event-2-image {
	grid-column-start: 3;
	grid-row: 1;
}

.event-2-text {
	grid-column-start: 3;
	grid-row: 2;
}

.event-3-image {
	grid-column-start: 4;
	grid-row: 1;
}

.event-3-text {
	grid-column-start: 4;
	grid-row: 2;
}

